@import './variables.css';

.card-info-container {
    width: fit-content;
    background-color: var(--clr-card-background);
    font-size: 2rem;
    clip-path: var(--clip-path);
    justify-content: space-between;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.8);
    margin: 0 1em;
    line-height: 1.7;
}

.card-info-container .card:hover {
    color: white;
    transform: none;
    cursor: default;
}

.card-info__right {
    padding: 0.4em;
}

.card-info__close-btn {
    float: right;
    font-size: 1.3em;
    height: 1em;
    display: flex;
    align-items: center;
}

@media (width <= 576px) {
    .card-info-container {
        flex-direction: column;
        width: 60%;
        font-size: 1.4rem;
    }
}
