@import './variables.css';

.game-main {
    flex: 1;
    display: flex;
    align-items: center;

    & > * {
        flex: 1;
    }
}

.game-header {
    justify-content: space-between;
    font-size: 2rem;
    padding: 0.8em 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(130px, 14.5vw), 1fr));
    gap: 1em;
    margin: 2em auto;
    margin-top: 0;
}

.card {
    --step: 2%;
    --border-radius: 10px;
    --clip-path: polygon(
        0% var(--step),
        var(--step) var(--step),
        var(--step) 0%,
        calc(100% - var(--step)) 0%,
        calc(100% - var(--step)) var(--step),
        100% var(--step),
        100% calc(100% - var(--step)),
        calc(100% - var(--step)) calc(100% - var(--step)),
        calc(100% - var(--step)) 100%,
        var(--step) 100%,
        var(--step) calc(100% - var(--step)),
        0% calc(100% - var(--step))
    );

    background-color: var(--clr-card-background);
    opacity: 0.8;
    border: 1px solid black;
    padding: 0.5em;
    clip-path: var(--clip-path);
}

.card__img-container {
    aspect-ratio: 1;
    background-color: var(--clr-card-foreground);
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: inherit;
}

.card__img {
    width: 70%;
    aspect-ratio: 1;
    object-fit: contain;
}

.card__name {
    text-align: center;
    font-size: clamp(1rem, 1vw, 4rem);
}
