@import './variables.css';

/********RESET**********/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
dialog,
form,
label {
    font: inherit;
    color: inherit;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

ul,
ol {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
}

button,
label[for]:not(:has(+ :is(input, select, textarea):disabled)),
select,
option,
input[type='checkbox'],
::-webkit-search-cancel-button,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    cursor: pointer;
}

label {
    display: block;
}

/******************/

@font-face {
    font-family: 'Terraria';
    src: url('/fonts/TerrariaFont.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Terraria';
    color: white;
    text-shadow: 0 0 3px #000;
    background-image: url('/terraria-background.webp');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

body::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
}

/******************/

.screen {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.screen:has(.main-menu) {
    justify-content: center;
}

.container {
    width: min(85%, 1300px);
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

img {
    image-rendering: pixelated;
}

button:hover {
    color: var(--clr-text-hover);
}

/******************/

.main-loading {
    display: grid;
    place-content: center;
    font-size: 3rem;
    height: 100vh;
}

/* logo */

.logo-container {
    width: 50%;
    position: relative;
    animation: floatLogo 18s linear infinite;
    transform-origin: center;
}

.logo-container::before {
    content: 'Memory Cards!!';
    position: absolute;
    font-size: 1.75rem;
    right: 0;
    bottom: -1.5em;
    animation: widen 2s ease infinite both alternate;
}

.logo {
    width: 100%;
}

/*  */

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 8em auto;
}

.menu__btns {
    align-items: center;
    justify-content: center;
    flex: 1;
}

.menu__btn {
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    padding: 0.5em 0.5em;
}

@media (width <= 576px) {
    .logo-container {
        width: 100%;
    }
}

/* Animations */

@keyframes floatLogo {
    0% {
        transform: scale(1) rotate(0deg);
    }

    12.5% {
        transform: scale(1.025) rotate(2deg);
    }

    25% {
        transform: scale(1.05) rotate(0deg);
    }

    37.5% {
        transform: scale(1.025) rotate(-2deg);
    }

    50% {
        transform: scale(1) rotate(0deg);
    }

    62.5% {
        transform: scale(0.975) rotate(2deg);
    }

    75% {
        transform: scale(0.95) rotate(0deg);
    }

    87.5% {
        transform: scale(0.975) rotate(-2deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes widen {
    from {
        letter-spacing: normal;
        transform: scale(1);
    }

    to {
        letter-spacing: 2px;
        transform: scale(1.05);
    }
}
